ul {
  list-style: none;
  font-weight: bold;
  font-size: 15px;
}

.header__float {
  overflow: hidden;
  clear: both;
  line-height: 20px;
  color: DarkBlue;
}

.header__float h1 {
  float: left;
  font-size: 25px;
}

.header__float nav {
  float: right;
}

.header__float nav ul li {
  float: left;
  margin-left: 20px;
  left: -50px;
}

.sample-img {
  margin: 0 0 0 auto;
  width: 800px;
  height: 600px;
  position: relative;
  top: 70px;
}

.box {
  width: 1000px;
  height: 150px;
  background: Navy;
  margin-right: auto;
  margin-top: 0px;
}

p {
  font-size: 60px;
  margin-bottom: 0px;
}
